<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link " routerLink='/'>Home Component</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/features'>Features Component</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/pricing'>Pricing Component</a>
            </li>
        </ul>
    </div>
    
</nav>